absl-py==1.4.0
accelerate==0.22.0
aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
alpa==0.2.3
altair==5.1.2
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
bitsandbytes==0.40.2
black==23.9.1
blis==0.7.11
bottle==0.12.25
cachetools==5.3.1
catalogue==2.0.10
cattrs==22.2.0
certifi==2023.7.22
cffi==1.16.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.2.0
chex==0.1.5
click==8.0.4
cmake==3.27.4.1
cmake-build-extension==0.5.1
colorama==0.4.6
coloredlogs==15.0.1
confection==0.1.3
contourpy==1.1.1
coverage==7.3.2
cupy-cuda11x==12.2.0
cycler==0.11.0
cymem==2.0.8
dacite==1.6.0
DataProperty==1.0.1
datasets==2.14.6
deepspeed==0.10.3
dill==0.3.5.1
distlib==0.3.7
dm-tree==0.1.8
einops==0.6.1
etils==1.5.0
exceptiongroup==1.1.3
fairscale==0.4.13
fastapi==0.104.0
fastrlock==0.8.2
ffmpy==0.3.1
filelock==3.12.3
fire==0.5.0
flake8==6.1.0
flax==0.6.2
flexflow==23.10.0
fonttools==4.42.1
frozenlist==1.4.0
fsspec==2023.6.0
gitdb==4.0.10
GitPython==3.1.38
google-api-core==2.12.0
google-api-python-client==2.64.0
google-auth==2.23.3
google-auth-httplib2==0.1.1
googleapis-common-protos==1.61.0
gradio==3.50.2
gradio_client==0.6.1
grpcio==1.58.0
h11==0.14.0
hjson==3.1.0
httpcore==0.18.0
httplib2==0.22.0
httpx==0.25.0
huggingface==0.0.1
huggingface-hub==0.16.4
humanfriendly==10.0
identify==2.5.30
idna==3.4
importlib-resources==5.10.4
iniconfig==2.0.0
jax==0.3.22
jaxlib==0.3.22+cuda111.cudnn805
Jinja2==3.1.2
joblib==1.3.2
jsonlines==4.0.0
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
langcodes==3.3.0
lightning-utilities==0.9.0
lit==16.0.6
-e git+https://github.com/alpa-projects/alpa.git@824f2ffd5124d24935811bc738ed903796ab13ac#egg=llm_serving&subdirectory=examples
llvmlite==0.41.0
-e git+https://github.com/YounghunGo/lm-evaluation-harness.git@03a3b36c53fb68d0569b9e8ee7dc63453d6add87#egg=lm_eval
Mako==1.2.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
mbstrdecoder==1.1.3
mccabe==0.7.0
mdurl==0.1.2
ml-dtypes==0.3.1
mpi4py==3.1.4
mpmath==1.3.0
msgpack==1.0.6
multidict==6.0.4
multiprocess==0.70.13
murmurhash==1.0.10
mypy-extensions==1.0.0
networkx==3.1
ninja==1.11.1
nltk==3.8.1
nodeenv==1.8.0
numba==0.58.0
numexpr==2.8.5
numpy==1.23.5
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.52
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
onnx==1.14.1
openai==0.28.0
opt-einsum==3.3.0
optax==0.1.7
optimum==1.13.2
orjson==3.9.10
packaging==23.1
pandas==2.1.0
parallelformers==1.2.7
parameterized==0.9.0
pathspec==0.11.2
pathvalidate==3.1.0
pathy==0.10.2
peft==0.4.0
Pillow==10.0.0
platformdirs==3.10.0
pluggy==1.3.0
portalocker==2.7.0
pre-commit==3.5.0
preshed==3.0.9
protobuf==3.20.3
psutil==5.9.5
PuLP==2.7.0
py-cpuinfo==9.0.0
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.11.1
pycodestyle==2.11.1
pycountry==22.3.5
pycparser==2.21
pydantic==1.10.9
pydantic_core==2.10.1
pydub==0.25.1
pyext==0.7
pyflakes==3.1.0
Pygments==2.16.1
pyhocon==0.3.60
pymongo==4.2.0
pyparsing==3.1.1
pytablewriter==1.0.0
pytest==7.4.2
pytest-cov==4.1.0
python-dateutil==2.8.2
python-multipart==0.0.6
pytorch-lightning==2.1.0
pytz==2023.3.post1
PyYAML==6.0.1
qualname==0.1.0
ray==2.1.0
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
responses==0.18.0
retrying==1.3.4
rich==13.5.3
rouge-score==0.1.2
rpds-py==0.10.3
rsa==4.9
sacrebleu==1.5.0
sacremoses==0.0.53
safetensors==0.3.3
scikit-learn==1.1.3
scipy==1.9.3
seaborn==0.13.0
semantic-version==2.10.0
sentencepiece==0.1.98
setuptools-scm==8.0.4
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
spacy==3.5.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlitedict==1.7.0
srsly==2.4.8
starlette==0.27.0
sympy==1.12
tabledata==1.3.1
tabulate==0.9.0
tcolorpy==0.1.3
tensorboardX==2.6.2.2
tensorstore==0.1.44
termcolor==2.3.0
thinc==8.1.12
threadpoolctl==3.2.0
tokenizers==0.13.3
tomli==2.0.1
toolz==0.12.0
torch==2.1.0+cu118
torchaudio==2.1.0+cu118
torchmetrics==1.2.0
torchpippy==0.1.1+15dfcd8
torchsummary==1.5.1
torchvision==0.16.0+cu118
tqdm==4.64.1
tqdm-multiprocess==0.0.11
transformers==4.31.0
triton==2.1.0
trl==0.4.7
typepy==1.3.1
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
uncertainty-calibration==0.1.4
uritemplate==4.1.1
urllib3==2.0.4
uvicorn==0.23.2
virtualenv==20.24.5
wasabi==1.1.2
websockets==11.0.3
xxhash==3.3.0
yarl==1.9.2
zipp==3.17.0
zstandard==0.18.0
